# Database connection (TiDB Serverless or local MySQL)
DATABASE_HOST=gateway01.us-west-2.prod.aws.tidbcloud.com
DATABASE_PORT=4000
DATABASE_USER=your_username
DATABASE_PASSWORD=your_password
DATABASE_NAME=ryf_celestin_and_sia_preston_db
